<!-- Aside con mapa -->
<div class="col-md-3">
  <div class="panel panel-default grayPanel">
    <div class="panel-body">
      <div class="mapContainer">
        <p>Mapa</p>
        <div id="map_wrapper">
          <div id="map-canvas"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="userComments">

    <div class="comment">
      <div class="bubble">"es muy bueno, muy simple, yo soy de viajar mucho y casi siempre compro en despegar ya que ofrece muy buenas ofertas y muchas posibilidades de pago que en otros sitios no te brindan desde ya muy agradecido a despegar.com"</div>

      <div class="user">
        <div class="userImage">
          <span class="glyphicon glyphicon-user"></span>
          <span class="countriesSprite userCountryLogo"></span>
        </div>
        <div class="userData">
          <div class="username">Miguel Adrian Villar</div>
          <div class="hotelItemTinyText">Viajó en familia</div>
          <div class="hotelItemTinyText">9 Nov 2011</div>
        </div>
      </div>
    </div>

    <div class="comment">
      <div class="bubble">"No viajo mucho, pero cuando lo hago, es a través de despegar.com, súper cómodo, lo hago desde mi casa, los precios y las facilidades de pago, son muy buenos!"</div>
      <div class="user">
        <div class="userImage">
          <span class="glyphicon glyphicon-user"></span>
          <span class="countriesSprite userCountryLogo"></span>
        </div>
        <div class="userData">
          <div class="username">Marisa Claudia</div>
          <div class="hotelItemTinyText">Viajó con pareja y niños</div>
          <div class="hotelItemTinyText">6 Jun 2012</div>
        </div>
      </div>
    </div>
  </div>

  <!-- Puntaje de hotel -->
  <div class="hotelRating">
    <div class="panel panel-default grayPanel">
      <div class="panel-body">
        <div>
          <table class="table table-condensed borderlessTable">
            <tr>
              <td><a href="#">5 Estrellas</a>
              <td class="stars">
                <span class="commonSprite fiveStarsHotels"></span>        
                <!--
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                -->
              </td>
            </tr>
            <tr>
              <td><a href="#">4 Estrellas</a></td>
              <td class="stars">
                <span class="commonSprite fourStarsHotels"></span>  
              </td>
            </tr>
            <tr>
              <td><a href="#">3 Estrellas</a></td>
              <td class="stars">
              <span class="commonSprite threeStarsHotels"></span>  
              </td>
            </tr>
            <tr>
              <td><a href="#">2 Estrellas</a></td>
              <td class="stars">
                <span class="commonSprite twoStarsHotels"></span>  
              </td>
            </tr>
            <tr>
              <td><a href="#">1 Estrella</a></td>
              <td class="stars">
                <span class="commonSprite oneStarHotels"></span>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- Tipos de alojamiento -->
  <div class="housingType">
    <div class="panel panel-default asidePanels">
      <div class="panel-body asidePanels">
        <h4 class="otherTitles">Tipos de alojamiento</h4>
        <div>
          <table class="table table-condensed">
            <tr>
              <td><a href="#">Hotel Boutique en Río de Janeiro</a></td>
            </tr>
            <tr>
              <td><a href="#">Posada en Río de Janeiro</a></td>
            </tr>
            <tr>
              <td><a href="#">Hostel en Río de Janeiro</a></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- Puntos de interes -->
  <div class="highlightsPlaces">
    <div class="panel panel-default asidePanels">
      <div class="panel-body asidePanels">
        <h4 class="otherTitles">Puntos de interés</h4>
        <div>
          <table class="table table-condensed">
            <tr>
              <td><a href="#">Hotel Boutique en Río de Janeiro</a></td>
            </tr>
            <tr>
              <td><a href="#">Posada en Río de Janeiro</a></td>
            </tr>
            <tr>
              <td><a href="#">Hostel en Río de Janeiro</a></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
