<!--Hoteles en México -->
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default grayPanel">
      <div class="panel-body otherHotels">
        <div class="col-md-12">
          <h4 class="otherHotelsTitle">Hoteles en México</h4>
        </div>
        <div class="col-md-2">
          <table class="table table-condensed">
            <tr>
              <td><a href="#">Hoteles en México</a></td>
            </tr>
            <tr>
              <td><a href="#">Hoteles en Ciudad de México</a></td>
            </tr>
          </table>
        </div>

        <div class="col-md-2">
          <table class="table table-condensed">
            <tr>
              <td><a href="#">Hostel en Río de Janeiro</a></td>
            </tr>
            <tr>
              <td><a href="#">Cabaña en Río de Janeiro</a></td> 
            </tr>
          </table>
        </div>

        <div class="col-md-2">
          <table class="table table-condensed">
            <tr>
              <td><a href="#">Hoteles en Puerto Vallarta</a></td>
            </tr>
            <tr>
              <td><a href="#">Hoteles en Acapulco</a></td> 
            </tr>
          </table>
        </div>

        <div class="col-md-2">
          <table class="table table-condensed">
            <tr>
              <td><a href="#">Hoteles en Chihuahua</a></td>
            </tr>
            <tr>
              <td><a href="#">Hoteles en Cuernavaca</a></td> 
            </tr>
          </table>
        </div>

        <div class="col-md-2">
          <table class="table table-condensed">
            <tr>
              <td><a href="#">Hoteles en Chihuahua</a></td>
            </tr>
            <tr>
              <td><a href="#">Hoteles en Cuernavaca</a></td> 
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

