<!--Destinos a descubrir -->
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default grayPanel">
    <div class="panel-body otherHotels">
      <div class="col-md-12">
        <h4 class="otherHotelsTitle">Destinos a descubrir</h4>
      </div>
      <div class="col-md-2">
        <table class="table table-condensed">
          <tr>
            <td><a href="#">Hoteles en Curacao, Holanda</a></td>
          </tr>
          <tr>
            <td><a href="#">Hoteles en Aeropuerto Interna</a></td> 
          </tr>
        </table>
      </div>

      <div class="col-md-2">
        <table class="table table-condensed">
          <tr>
            <td><a href="#">Hoteles en Cavalcante, Brasil</a></td>
          </tr>
          <tr>
            <td><a href="#">Hoteles en Courcheval, Francia</a></td> 
          </tr>
        </table>
      </div>

      <div class="col-md-2">
        <table class="table table-condensed">
          <tr>
            <td><a href="#">Hoteles en Covington, USA</a></td>
          </tr>
          <tr>
            <td><a href="#">Hoteles en Caviahue, Argentina</a></td> 
          </tr>
        </table>
      </div>

      <div class="col-md-2">
        <table class="table table-condensed">
          <tr>
            <td><a href="#">Hoteles en Convington, USA</a></td>
          </tr>
          <tr>
            <td><a href="#">Hoteles en Convington, USA</a></td> 
          </tr>
        </table>
      </div>

      <div class="col-md-2">
        <table class="table table-condensed">
          <tr>
            <td><a href="#">Hoteles en Convington, USA</a></td>
          </tr>
          <tr>
            <td><a href="#">Hoteles en Convington, USA</a></td> 
          </tr>
        </table>
      </div>
    </div>
    </div>
  </div>
</div>