<!-- Item de hotel-->
<div class="panel panel-default">
  <div class="panel-body hotelItemPanel">
    <div class="col-md-2">
      <img src="{{hotel.image}}" class="img-thumbnail">
    </div>
    <div class="col-md-5">
      <ul class="list-unstyled ulMorePadding">
        <li>
          <a href="#">{{hotel.name}}</a>
        </li>
        <li>
          <span class="commonSprite hotelItem{{hotel.stars}}stars"></span>
          <!--<span class="commonSprite hotelRatingItem stars{{hotel.stars}}"></span>-->
        </li>
        <li>
          <div class="hotelItemTinyText">{{hotel.address}}</div>
        </li>
        <li>
          <a href="#" class="hotelItemTinyText">Ver en mapa</a>
        </li>
      </ul>
    </div>

    <div class="col-md-2">
      <div class="feedbackContainer">
        <ul class="list-unstyled ulMorePadding"> 
          <li> 
            <div class="hotelItemSmallText">{{hotel.description}}</div>
          </li> 
          <li>  
            {{hotel.rating}}&nbsp;puntos
          </li> 
          <li>  
            <a href="#">{{hotel.comments}}&nbsp;comentarios</a>
          </li> 
        </ul>
      </div>
    </div>
    <div class="col-md-3">
      <div class="priceContainer">
        <div class="hotelItemTinyText">Desde</div> 
        <div class="hotelItemBigText">U$S&nbsp;{{hotel.price}}</div>
        <button type="button" class="btn btn-primary btn-sm availabilityBtn" ng-click="showHotelAvailability(hotel.availability)">Ver disponibilidad</button>
      </div>
    </div>
  </div>
</div>

