<div class="modal fade hotelAvailability">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header grayPanel">
        <button type="button" class="close closeAvailability" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title otherTitles">Disponibilidad del hotel</h4>
      </div>

      <form class="form-horizontal" role="form">
        <div class="modal-body">
          <div class="form-group">
            <label for="fromDay" class="col-sm-2 control-label leftTextForm">Entrada</label>
            <div class="col-sm-4">
              <input type="text" class="customDateTimePicker" data-date-format="dd MM yyyy">
            </div>
          </div>
          <div class="form-group">
            <label for="toDay" class="col-sm-2 control-label leftTextForm">Salida</label>
            <div class="col-sm-4">
              <input type="text" class="customDateTimePicker" data-date-format="dd MM yyyy">
            </div>
          </div>

          <div class="form-group">
            <label for="roomQuantity" class="col-sm-2 control-label leftTextForm">Cantidad</label>
            <div class="col-sm-4">
              <select class="form-control">
                <option>1 habitación</option>
                <option>2 habitaciones</option>
                <option>3 habitaciones</option>
                <option>4 habitaciones</option>
                <option>5 habitaciones</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label for="personQuantity" class="col-sm-2 control-label leftTextForm">Huéspedes</label>
            <div class="col-sm-3">
              <select class="form-control">
                <option>1 adulto</option>
                <option>2 adultos</option>
                <option>3 adultos</option>
                <option>4 adultos</option>
              </select>
            </div>

            <div class="col-sm-3">
              <select class="form-control">
                <option>1 menor</option>
                <option>2 menores</option>
                <option>3 menores</option>
                <option>4 menores</option>
              </select>
            </div>
          </div>
        </div>
        <div class="modal-footer grayPanel">
          <button type="button" class="btn btn-default closeAvailability" data-dismiss="modal">Cerrar</button>
          <button id="searchAvailability" type="button" class="btn btn-primary" data-loading-text="Buscando...">Buscar</button>
        </div>
      </div><!-- /.form -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

