<!-- Listado de hoteles -->
<div class="col-md-9">
  <div class="panel panel-default grayPanel">
    <div class="panel-body panelHotelListTitle">
      <h3>Listado Hoteles en Río de Janeiro, Brasil</h3>
    </div>
  </div>

  <hotelItem ng-repeat="hotel in hotels"></hotelItem>
  
  <!-- Incluir hoteles -->
  <p class="text-left">¿Administra un hotel en Río de Janeiro, Brasil? <u><a href="#">Inclúyalo en este listado!</a></u></p>

  <!-- Paginación -->
  <nav class="hotelPagination">
    <ul class="pagination">
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">...</a></li>
      <li><a href="#">279</a></li>
      <li><a href="#"><span aria-hidden="true">Siguiente</span></a></li>
    </ul>
  </nav> 
</div>
