<!-- Formulario principal -->
<div class="row">

  <!-- Formulario principal de bùsqueda -->
  <div class="col-md-8">
    <div class="mainSearchPanel panel panel-default">
      <div class="panel-body">
        <form class="form-horizontal" role="form">
          <h3> Buscar hoteles en Río de Janeiro, Brasil</h3>
          </br>
          <div class="form-group">
            <label for="city" class="col-sm-2 control-label leftTextForm">Ciudad</label>
            <div class="col-sm-8">
              <input type="text" class="form-control input-xsmall" id="city" placeholder="Río de Janeiro">
            </div>
          </div>

          <div class="form-group">
            <label for="fromDay" class="col-sm-2 control-label leftTextForm">Entrada</label>
            <div class="col-sm-4">
              <input type="date" class="form-control" id="fromDay" placeholder="dd/mm/aaaa">
            </div>
          </div>

          <div class="form-group">
            <label for="toDay" class="col-sm-2 control-label leftTextForm">Salida</label>
            <div class="col-sm-4">
              <input type="date" class="form-control" id="toDay" placeholder="dd/mm/aaaa">
            </div>
          </div>

          <div class="form-group">
            <label for="roomQuantity" class="col-sm-2 control-label leftTextForm">Cantidad</label>
            <div class="col-sm-4">
              <select class="form-control">
                <option>1 habitación</option>
                <option>2 habitaciones</option>
                <option>3 habitaciones</option>
                <option>4 habitaciones</option>
                <option>5 habitaciones</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label for="personQuantity" class="col-sm-2 control-label leftTextForm">Huéspedes</label>
            <div class="col-sm-3">
              <select class="form-control">
                <option>1 adulto</option>
                <option>2 adultos</option>
                <option>3 adultos</option>
                <option>4 adultos</option>
              </select>
            </div>

            <div class="col-sm-3">
              <select class="form-control">
                <option>1 menor</option>
                <option>2 menores</option>
                <option>3 menores</option>
                <option>4 menores</option>
              </select>
            </div>
          </div>


          <div class="mod-searchbutton">
            <div class="com-betterprice">
              <span class="commonSprite littleBestPricelogo_es"></span>
            </div>
          </div>
            <button type="submit" class="btn btn-lg btn-primary pull-right">&nbsp;&nbsp;&nbsp;Buscar&nbsp;&nbsp;&nbsp;</button>
        </form>

      </div>
    </div>
  </div>

  <!-- Oferta destacada-->
  <div class="col-md-4">
    <a href="http://www.despegar.com.ar/hoteles/hl/6381/i1/hoteles-en-rio+de+janeiro?M=P&amp;orderCriteria=OrderBySoldCheapestFirst" class="ux-home-offer-hot">
      <img src="http://media.staticontent.com/media/pictures/b2bd93a4-ddb8-4cdb-bd09-1bc4ce63f4c1/360x396" class="img-thumbnail">
    </a>
  </div>
</div>


