<!--Hoteles en los mejores destinos -->
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default grayPanel">
    <div class="panel-body otherHotels">
      <div class="col-md-12">
        <h4 class="otherHotelsTitle">Hoteles en los mejores destinos</h4>
      </div>
      <div class="col-md-2">
        <table class="table table-condensed">
          <tr>
            <td><a href="#">Hoteles en París</a></td>
          </tr>
          <tr>
            <td><a href="#">Hoteles en Londres</a></td> 
          </tr>
          <tr>
            <td><a href="#">Hoteles en Roma</a></td> 
          </tr>
        </table>
      </div>

      <div class="col-md-2">
        <table class="table table-condensed">
          <tr>
            <td><a href="#">Hoteles en Nueva York</a></td>
          </tr>
          <tr>
            <td><a href="#">Hoteles en Praga</a></td> 
          </tr>
          <tr>
            <td><a href="#">Hoteles en Veneziar</a></td> 
          </tr>
        </table>
      </div>

      <div class="col-md-2">
        <table class="table table-condensed">
          <tr>
            <td><a href="#">Hoteles en Washington</a></td>
          </tr>
          <tr>
            <td><a href="#">Hoteles en Dubai</a></td> 
          </tr>
          <tr>
            <td><a href="#">Hoteles en Orlando</a></td> 
          </tr>
        </table>
      </div>

      <div class="col-md-2">
        <table class="table table-condensed">
          <tr>
            <td><a href="#">Hoteles en Bangkok</a></td>
          </tr>
          <tr>
            <td><a href="#">Hoteles en Barcelona</a></td> 
          </tr>
          <tr>
            <td><a href="#">Hoteles en Estambul</a></td> 
          </tr>
        </table>
      </div>

      <div class="col-md-2">
        <table class="table table-condensed">
          <tr>
            <td><a href="#">Hoteles en Shanghai</a></td>
          </tr>
          <tr>
            <td><a href="#">Hoteles en Berlín</a></td> 
          </tr>
        </table>
      </div>
    </div>
    </div>
  </div>
</div>