<!-- Titulo de bùsqueda -->
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default grayPanel">
      <div class="panel-body panelTitle">
        <div class="warrantyTitle">
          <h2>110 Hoteles en Río de Janeiro Brasil</h2>
          <p class="warranty">con el mejor precio garantizado.</p>
        </div>
        <div class="socialShare">
          <span class='st_facebook_large' displayText='Facebook'></span>
          <span class='st_twitter_large' displayText='Tweet'></span>
          <span class='st_googleplus_large' displayText='Google +'></span>
        </div>
      </div>
    </div>
  </div>
</div>


