
<div class="container panel panel-default mainPanel" ng-controller="mainController">
	<breadcrum></breadcrum>
	<searchtitle></searchtitle>
	<mainform></mainform>

	<div class="row">
		<hotelList></hotelList>
		<asidecomponents></asidecomponents>
	</div>
	<countryhotels></countryhotels>
	<otherdestinations></otherdestinations>
	<discoverdestinations></discoverdestinations>

	<hotelavailability></hotelavailability>

</div>