.breadcrumb{
	margin-top: 10px;
	background-color: rgb(255, 255, 255) !important;
}

.breadcrumb > li + li:before {
	padding: 0 5px;
	font-family: "icons";
	content: '>'; // character code for arrow right
}

.mainSearchPanel {
	background-color: rgb(255,255,51);
	color: rgb(1, 61, 147);
}

.panelTitle{
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 10px !important;
    padding-top: 0px !important;
}

.warrantyTitle{
	display:inline-block;
	color: rgb(1, 61, 147);
	width: 85%;
}

.warranty{
	color: rgb(49,159,216);
}

.socialShare{
	display:inline-block;
}

#map_wrapper {
	height: 200px;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
}

#map-canvas {
	width:100%;
	height:100%;
}

.panelHotelListTitle{
	padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 10px !important;
    padding-top: 0px !important;
	color: rgb(1, 61, 147);
}

.leftTextForm{
	text-align: left !important;
	padding-right: 0px;
    padding-left: 35px;
}


/*http://charliepark.org/bootstrap_buttons/*/
.availabilityBtn {
	background-color: hsl(13, 77%, 20%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e24f26", endColorstr="#5a1c0b");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#e24f26), to(#5a1c0b));
	background-image: -moz-linear-gradient(top, #e24f26, #5a1c0b);
	background-image: -ms-linear-gradient(top, #e24f26, #5a1c0b);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e24f26), color-stop(100%, #5a1c0b));
	background-image: -webkit-linear-gradient(top, #e24f26, #5a1c0b);
	background-image: -o-linear-gradient(top, #e24f26, #5a1c0b);
	background-image: linear-gradient(#e24f26, #5a1c0b);
	border-color: #5a1c0b #5a1c0b hsl(13, 77%, 12%);
	color: #fff !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.52);
	-webkit-font-smoothing: antialiased;
}

.hotelItem {
	border-bottom: 3px solid #f5f5f5;
	border-top: 3px solid #f5f5f5;
}

.priceContainer {
	height: 120px;
	padding-top: 10px;
	float: right;
	position: relative;
	width: 175px;
	text-align: center;
	color: #666;
	background: -webkit-linear-gradient(yellow, white); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(yellow, white); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(yellow, white); /* For Firefox 3.6 to 15 */
	background: linear-gradient(yellow, white); /* Standard syntax */
}


.feedbackContainer{
	height: 120px;
	padding-top: 5px;
	float: right;
	position: relative;
	width: 175px;
	text-align: left;
	font-size: 0.875em;
	color: rgb(1, 61, 147);
}


.grayPanel {
	background-color: rgb(239,239,239);
}

.borderlessTable td, .borderlessTable th{
	border: none !important;
}

.stars{
	text-align: right;
}
.fiveStarsHotels {
	background-position: 0px -103px;
	height: 15px;
	width: 75px;
	margin-left: auto;
}
.fourStarsHotels {
	background-position: 0px -103px;
	height: 15px;
	width: 60px;
	margin-left: auto;
}
.threeStarsHotels {
	background-position: 0px -103px;
	height: 15px;
	width: 45px;
	margin-left: auto;
}
.twoStarsHotels {
	background-position: 0px -103px;
	height: 15px;
	width: 30px;
	margin-left: auto;
}
.oneStarHotels {
	background-position: 0px -103px;
	height: 15px;
	width: 15px;
	margin-left: auto;
}

.hotelItem5stars {
	background-position: 0px -103px;
	height: 15px;
	width: 75px;
}

.hotelItem4stars {
	background-position: 0px -103px;
	height: 15px;
	width: 60px;
}

.hotelItem3stars {
	background-position: 0px -103px;
	height: 15px;
	width: 45px;
}

.hotelItem2stars {
	background-position: 0px -103px;
	height: 15px;
	width: 30px;
}

.hotelItem1stars {
	background-position: 0px -103px;
	height: 15px;
	width: 15px;
}

.hotelPagination{
	text-align: center;
}

.littleBestPricelogo_es {
	background-position: -103px 2px;
	height: 73px;
	width: 72px;
}
.commonSprite {
	background-attachment: scroll;
	background-image: url("../img/sprite-despegar-common2-8.png") !important;
	background-repeat: no-repeat;
	display: block;
}

.mod-searchbutton {
	position: absolute;
	bottom: 90px;
	right: 53px;
}

.bubble {
	padding: 10px;
	background: rgb(239,245,254);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.bubble:after{
	content: "";
   	border: solid 10px transparent; 
	border-top-color: rgb(239,245,254); 
	border-bottom: 0; 
	width: 0;
	height: 0;
	overflow: hidden;
	display: block;
	position: relative;
	bottom: -20px; 
	margin: auto;
}

.asidePanels{
	padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-top: 0px;
	border: 0;	
}

.otherTitles{
	color: rgb(1, 61, 147);
}

.otherHotelsTitle{
	color: rgb(1, 61, 147);
}

.otherHotels{
	padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-top: 0px;
}

.hotelItemPanel{
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

.hotelRatingItem{
	background-position: 0px -103px;
	height: 15px;
	width: 75px;
}

.hotelItemTinyText{
	font-size: 0.875em;
}

.hotelItemSmallText{
	font-size: 1.2em;
}

.hotelItemBigText{
	font-size: 2em;
}

.ulMorePadding li{
	padding-top: 4px;
}

.userImage{
	float: left;
	position: relative;
	display:inline-block;
	width: 20%;
}

.comment{
	margin-top: 20px;
	margin-bottom: 20px;
}

.user{
	margin-top: 20px;
}

.username{
	color: rgb(1, 61, 147);
}

.userData{
	display:inline-block;
}

.userCountryLogo{
	background-position: 0px -1848px;
	height: 12px;
	width: 20px;
}

.countriesSprite {
	background-attachment: scroll;
	background-image: url("../img/sprite-world-flags.png") !important;
	background-repeat: no-repeat;
	display: block;
}

